.cell-head-center{
    text-align: center;
}

.cell-center{
    display: flex;
    justify-content: center;
}

.text-silver{
    color: rgb(174, 174, 174);
}

.text-brown{
    color: rgb(181, 132, 77);
}